extends accountnavlayout.pug

block subscripts
    link(href='stylesheets/logs.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

block subcontent
    if(user.role === 'admin')    
        .container
            .main
                h1(style='text-align: center;') Add Sale Items
                hr
                // Trigger the modal with a button
                button.btn.btn-lg.pull-right(type='button', data-toggle='modal', data-target='#myModal' style="font-family: 'Playfair Display', serif") 
                    span.glyphicon.glyphicon-plus
                br
                br
                // Modal
                #myModal.modal.fade(role='dialog')
                    .modal-dialog
                        // Modal content
                        .modal-content
                            .modal-header
                                button.close(type='button', data-dismiss='modal') ×
                                h4.modal-title Add Items to Database
                            .modal-body(style='font-size:13px')
                                form.form-horizontal(action='/additems/confirmation')
                                    .form-group
                                        label.control-label.col-sm-2(for='txt') Item ID:
                                        .col-sm-10
                                            input#email.form-control(type='text', placeholder='Enter id number', name='iid')
                                    .form-group
                                        label.control-label.col-sm-2(for='txt') Item Name:
                                        .col-sm-10
                                            input#email.form-control(type='text', placeholder='Enter name', name='tname')
                                    .form-group
                                        label.control-label.col-sm-2(for='txt') Description:
                                        .col-sm-10
                                            input#email.form-control(type='text', placeholder='Enter description', name='desc')
                                    .form-group
                                        label.control-label.col-sm-2(for='txt') Item Color:
                                        .col-sm-10
                                            input#email.form-control(type='text', placeholder='Enter color (White, Natural, Grey)', name='col')
                                    .form-group
                                        label.control-label.col-sm-2(for='txt') Item Price:
                                        .col-sm-10
                                            input#email.form-control(type='text', placeholder='Enter price in dollars (no $ sign)', name='tprice')
                                    .form-group
                                        label.control-label.col-sm-2(for='txt') Artist:
                                        .col-sm-10
                                            input#email.form-control(type='text', placeholder='Enter artist name', name='aname')
                                    .form-group
                                        label.control-label.col-sm-2(for='txt') Artist ID:
                                        .col-sm-10
                                            input#email.form-control(type='text', placeholder='Enter artist id', name='aid')
                                    .form-group
                                        label.control-label.col-sm-2(for='txt') Pic Count:
                                        .col-sm-10
                                            input#email.form-control(type='text', placeholder='Enter number of pictures for item', name='picc')
                                    .form-group
                                        label.control-label.col-sm-2(for='txt') Paypal ID:
                                        .col-sm-10
                                            input#email.form-control(type='text', placeholder='Enter id for item paypal button', name='pid')
                                    .form-group
                                        .col-sm-offset-2.col-sm-10
                                            button.btn.btn-default(type='submit') Submit
                //Button for adding artist--------------------------          
                button.btn.btn-lg.pull-right(type='button', data-toggle='modal', data-target='#myModal2' style="font-family: 'Playfair Display', serif") 
                        Add Artists
                br
                br
                // Modal
                #myModal2.modal.fade(role='dialog')
                    .modal-dialog
                        // Modal content
                        .modal-content
                            .modal-header
                                button.close(type='button', data-dismiss='modal') ×
                                h4.modal-title Add Artists to Database
                            .modal-body(style='font-size:13px')
                                form.form-horizontal(action='/additems/artistconfirmation')
                                    .form-group
                                        label.control-label.col-sm-2(for='txt') Artist ID:
                                        .col-sm-10
                                            input#email.form-control(type='text', placeholder='Enter id number', name='arid')
                                    .form-group
                                        label.control-label.col-sm-2(for='txt') Artist Name:
                                        .col-sm-10
                                            input#email.form-control(type='text', placeholder='Enter name', name='arname')
                                    .form-group
                                        label.control-label.col-sm-2(for='txt') Bio:
                                        .col-sm-10
                                            input#email.form-control(type='text', placeholder='Enter Bio', name='bio')
                                    .form-group
                                        label.control-label.col-sm-2(for='txt') Designs:
                                        .col-sm-10
                                            input#email.form-control(type='text', placeholder='Enter Designs', name='designs')
                                    .form-group
                                        label.control-label.col-sm-2(for='txt') Porfolio Link:
                                        .col-sm-10
                                            input#email.form-control(type='text', placeholder='Enter Link', name='link')
                                    .form-group
                                        .col-sm-offset-2.col-sm-10
                                            button.btn.btn-default(type='submit') Submit
                //-------------------------------------------------------------------------- 
                table
                    tr
                        th Item id
                        th Shirt Name
                        th Color
                        th Price ($)
                        th Stock (S,M,L)
                        th # Sold
                        th Artist
                    each val in data.tshirts_objects
                        tr
                            td= val.itemid
                            td= val.name
                            td= val.color
                            td= val.price
                            td= val.stock
                            td= val.sold
                            td= val.artistname
                br

    else
        h1 You are not authorized to view this page.