extends layout.pug

block scripts
    script(type='text/javascript', src='/javascripts/jquery-1.11.1.min.js')
    link(rel='stylesheet', href='/stylesheets/etalage.css')
    script(src='/javascripts/jquery.etalage.min.js')

block content
    .women_main
        each val in data.artists_object
            .row.single
                .col-md-9.det
                    .single_left
                        .grid.images_3_of_2
                            ul#etalage
                                li
                                    a(href='#')
                                        img.etalage_thumb_image(src='https://storage.googleapis.com/ecs193-192818.appspot.com/public/images/artist' + val.artistid + '.jpg')
                                        img.etalage_source_image(src='https://storage.googleapis.com/ecs193-192818.appspot.com/public/images/artist' + val.artistid + '.jpg', title='')
                            .clearfix
                        .desc1.span_3_of_2
                            h3= val.name
                            span.brand
                                | Portfolio: 
                                a(href=val.portfoliolink) #{val.portfoliolink} 
                            br
                            p= val.description
                            .price
                                span.price  #{val.bio}
                                br
                                br
                            span.brand
                                | My Designs
                            ul
                                each subval in val.designs
                                    li
                                        a(href='/details/' + subval) Tee #{subval}
                        .clearfix
        .clearfix
        script.
            jQuery(document).ready(function($){
            $('#etalage').etalage({
            thumb_image_width: 400,
            thumb_image_height: 400,
            source_image_width: 1200,
            source_image_height: 1200,
            show_hint: true
            });
            });