extends layout.pug

block scripts
    script(type='text/javascript', src='/javascripts/jquery-1.11.1.min.js')
    link(rel='stylesheet', href='/stylesheets/etalage.css')
    script(src='/javascripts/jquery.etalage.min.js')

block content
    .women_main
        each val in data.tshirts_object
            .row.single
                .col-md-9.det
                    .single_left
                        .grid.images_3_of_2
                            ul#etalage
                                li
                                    a
                                        img.etalage_thumb_image(src='/images/' + val.itemid + '.jpg')
                                        img.etalage_source_image(style='position:relative' src='/images/' + val.itemid + '.jpg', title='')
                                - for (var i = 1; i < val.pic_count; i++) {
                                    li
                                        img.etalage_thumb_image(src='/images/' + val.itemid + '_' + i + '.jpg')
                                        img.etalage_source_image(style='postion:relative' src='/images/' + val.itemid + '_' + i + '.jpg', title='')
                                - }
                            .clearfix
                        .desc1.span_3_of_2
                            h3= val.name
                             p(style='font-size:70%;font-family:verdana')  100% Cotton
                             p(style='font-size:70%;font-family:verdana')  Free Pickup on Campus!
                            span.brand
                                | Artist: 
                                a(href='/artists/' + val.artistid) #{val.artistname}
                            br
                            span.code Item ID: #{val.itemid}
                            p= val.description
                            br
                            .price
                                span.text Price: $#{val.price}.00
                                br
                            form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
                                input(type='hidden', name='cmd', value='_s-xclick')
                                input(type='hidden', name='hosted_button_id', value=val.paypal_id)
                                table
                                    tr
                                        td
                                            input(type='hidden', name='on0', value='Sizes')
                                            | Sizes
                                    tr
                                        td
                                            select(name='os0')
                                                option(value='S') S 
                                                option(value='M') M 
                                                option(value='L') L 
                                br
                                input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
                                img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')

                            //a(href='#')
                            //    span login to save in wishlist 
                        .clearfix
                        div(style='margin-left:100px')
                            font(size='6')
                                | Size Chart
                        img(src='/images/sizeChart.jpg', width='70%', height='70%')
        .clearfix
        script.
            jQuery(document).ready(function($){
            $('#etalage').etalage({
            thumb_image_width: 400,
            thumb_image_height: 400,
            source_image_width: 1200,
            source_image_height: 1200,
            show_hint: true,
            click_callback: function(image_anchor, instance_id){
            alert('Callback example:\\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
            }
            });
            });