extends layout.pug

block scripts
    script.
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MNDTP2T');
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    script(type='text/javascript' src="/javascripts/jquery-1.11.1.min.js")
    script(type='text/javascript' src="/javascripts/shoppingCart.js")
    link(href="/stylesheets/style.css" rel='stylesheet' type='text/css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    script(type="application/x-javascript").
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css')
    link(href='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js')
    script(src="/javascripts/menu_jquery.js")
    script(src="/javascripts/simpleCart.min.js")

block content
    br
    h1(style='text-align:center') The Shop
    hr
    h4(style='text-align:center') Free Pickup on Campus!
    // Grid of Items for Sale
    .special
        .container
            .special-top
                ul#item_container.grid_2
                    each val in data.tshirts_objects    
                        li
                            a(href='details/' + val.itemid)
                                img.img-responsive(src='/images/' + val.itemid + '.jpg', alt='')
                            .special-info.grid_1.simpleCart_shelfItem
                                h5= val.name
                                .item_add
                                    span.item_price
                                        h6 $#{val.price}
                                center
                                    form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
                                        input(type='hidden', name='cmd', value='_s-xclick')
                                        input(type='hidden', name='hosted_button_id', value=val.paypal_id)
                                        table
                                            tr
                                                td
                                                    input(type='hidden', name='on0', value='Sizes')
                                                    | Sizes
                                            tr
                                                td
                                                    select(name='os0')
                                                        option(value='S') S 
                                                        option(value='M') M 
                                                        option(value='L') L 
                                        br
                                        input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
                                        img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')