extends layout.pug

block scripts
    link(href='stylesheets/logs.css', rel='stylesheet', type='text/css')

block content
    br
    h1(style='text-align:center') Prober Dashboard
    hr
    table
        tr
            th Downtime Start
            th Downtime End
            th Duration
            th Contact
            th Error Code
        each val in data.logs_objects
            tr
                td= val.start_timestamp
                td= val.end_timestamp
                td= val.duration
                td= val.contact
                td= val.error_code
    br