extends accountnavlayout.pug

block subscripts
    link(href='stylesheets/logs.css', rel='stylesheet', type='text/css')

block subcontent       
    .main
        h1(style='text-align: center;') My Orders
        hr
        .table-responsive
            table
                tr
                    th Order ID
                    th Order Date
                    th Items
                    th Quantities
                    th Item IDs
                    th Order Total
                //each val in data.orderhistory_objects
                //    tr
                //        td= val.txn_id
                //        td= val.payment_date
                //        td= val.item_name_list
                //        td= val.quantity_list
                //        td= val.item_number_list
                each val in data.orderhistory_objects2
                    tr
                        td= val.txn_id
                        td= val.payment_date
                        td= val.item_name_list
                        td= val.quantity_list
                        td= val.item_number_list
                        td= '$'+val.mc_gross
            br
        //form(target='_new', method='post', action='/paypalipn')
        //    input(type='hidden', name='first_name', value='fred')
        //    input(type='hidden', name='last_name', value='johnson')
        //    input(type='hidden', name='receiver_email', value='193tees@gmail.com')
        //    input(type='hidden', name='item_name1', value='Kitty Tee')
        //    input(type='hidden', name='item_name2', value='Frog Tee')
        //    input(type='hidden', name='item_number2', value='9_2')
        //    input(type='hidden', name='item_number1', value='5_1')
        //    input(type='hidden', name='quantity2', value='1')
        //    input(type='hidden', name='quantity1', value='1')
        //    input(type='hidden', name='option_selection1_1', value='S')
        //    input(type='hidden', name='option_selection1_2', value='M')
        //    input(type='submit')